mixin comment_section(comments, id)
  .rectangle-container
    if isLoggedIn
      form(action=`/ruas/${id}/comentario` method='post' class='comment-form')
        input(type='hidden' name='id' value=id)
        textarea(name='comentario' placeholder='Insere um comentário' class='comment-textarea' required)
        button(type='submit' class='comment-button') Comentar

      if comments.length > 0
        .comments-section
          each comment in comments
            .comment
              .comment-header
                .username #{comment.user}:
                .timestamp= comment.timestamp
              .comment-body
                .text= comment.comment
      else
        p Não existem comentários. Sê o primeiro a comentar!
    else
      p Faz login para poderes adicionar um comentário a este post.
