extends layout

block content
  .sugestoes-container
    h1.welcome-header Lista de sugestões por rua
    if sugestoes.length > 0
      each rua in sugestoes
        .rua-box
          .rua-header
            a.rua-name(href=`/ruas/${rua.rua}`) #{rua.nome}
            a.edit-button.w3-amber(href=`/gestao/rua/${rua.rua}`) Editar rua
          each sugestao in rua.sugestoes
            .sugestao-item
              a.username(href=`/conta/perfil/${sugestao.username}`) #{sugestao.username}
              span.creation-date= sugestao.creationDate
              p.sugestao-text= sugestao.sugestao
              hr(style="margin-top: 10px; margin-bottom: 10px;")
    else
      h3 Não existem sugestões, de momento.
