extends layout

block content
    .profile
        .profile-container
            h1 User Profile
            p
                strong Username: 
                | #{user.username}
            p
                strong Name: 
                | #{user.name}
            p
                strong Email: 
                | #{user.email}
            p
                strong Level: 
                | #{user.level}
            p
                strong Last Access: 
                | #{user.lastAccess}
            p
                strong Registration Date: 
                | #{user.registrationDate}