extends layout

block content
    doctype html
    html
    head
        title User Profile
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            .profile-container {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                width: 300px;
                text-align: center;
            }
            .profile-container h1 {
                margin: 0 0 20px 0;
                font-size: 24px;
                color: #333;
            }
            .profile-container p {
                margin: 10px 0;
                font-size: 16px;
                color: #666;
            }
    body
        .profile-container
            h1 User Profile
            p
                strong Username: 
                | #{user.username}
            p
                strong Name: 
                | #{user.name}
            p
                strong Email: 
                | #{user.email}
            p
                strong Level: 
                | #{user.level}
            p
                strong Last Access: 
                | #{user.lastAccess}
            p
                strong Registration Date: 
                | #{user.registrationDate}