extends layout

block content
  .profile-container
    .profile-header
      if user.photo
        img(src=user.photo alt="User Photo" class="profile-photo")
      h1 User Profile
    .profile-details
      p
        strong Username: 
        span.profile-info #{user._id}
      p
        strong Name: 
        span.profile-info #{user.name}
      p
        strong Email: 
        span.profile-info #{user.email}
      p
        strong Level: 
        span.profile-info #{user.level}
      p
        strong Last Access: 
        span.profile-info #{user.lastAccess}
      p
        strong Registration Date: 
        span.profile-info #{user.registrationDate}
