extends layout

block content
  .profile-container
    .profile-header
      if utilizador.photo
        img(src=utilizador.photo alt="User Photo" class="profile-photo")
      h1 Perfil de utilizador
    .profile-details
      p
        strong Nome de utilizador: 
        span.profile-info #{utilizador._id}
      p
        strong Nome: 
        span.profile-info #{utilizador.name}
      p
        strong Email: 
        span.profile-info #{utilizador.email}
      p
        strong Nível de acesso: 
        span.profile-info #{utilizador.level}
      p
        strong Sugestões aceites: 
        span.profile-info #{utilizador.sugestoesAceites}
      p
        strong Último acesso: 
        span.profile-info #{utilizador.lastAccess}
      p
        strong Data de registo: 
        span.profile-info #{utilizador.registrationDate}
