extends layout
include comment_section.pug

block content
    style.
        .image-container img {
            width: 500px; 
            height: 300px; 
            object-fit: cover; 
        }
    h1= rua._id + " - " + rua.nome
    each figura in rua.figuras
        div
            .image-container
                img(src=figura.path, alt=figura.foto_id)
            p= figura.desc
    each para in rua.desc
        p
            != para
    if rua.casas != null
        each casa in rua.casas
            p
                b Numero #{casa.numero}
                ul
                    if casa.enfiteuta != null && casa.enfiteuta.length > 0
                        li 
                            b Enfiteuta:
                            <span> #{casa.enfiteuta} </span>
                    if casa.foro != null && casa.foro.length > 0
                        li 
                            b Foro:
                            <span> #{casa.foro} </span>
                    each para in casa.desc
                        p
                            != para
    if isLoggedIn
        button#showSuggestionForm.w3-button.w3-amber.w3-round-large(style="display: block") Adicionar sugestão
        .rectangle-container#box(style="display: none;")
            form#suggestionForm(action=`/ruas/${rua._id}/sugestao`, method="POST", class='comment-form')
                input(type="hidden", name="nome", value=rua.nome)
                textarea(name="sugestao", placeholder="Inserir sugestão...", class='comment-textarea' required)
                button(type="submit", class="comment-button") Submeter

    +comment_section(rua.comentarios, rua._id)

    script.
        document.getElementById('showSuggestionForm').addEventListener('click', function() {
            document.getElementById('suggestionForm').style.display = 'flex';
            document.getElementById('box').style.display = 'block';
            document.getElementById('showSuggestionForm').style.display = 'none';
        });